<!-- Launch file for movingRobots independently -->
<!-- Shake it! @date 2012-11-26 -->
<launch>

	<arg name="moveRobots" value="true" />

<!-- Turtle 1 -->
<group  ns="turtle_1" if="$(arg moveRobots)">

		<node name="moveRobot" pkg="tortuninja" type="moveRobot">
			<param name="move_type" value="1" type="int" />
			<remap from="cmd_vel" to="turtlebot_node/cmd_vel" />
		</node>

</group>

<!-- Turtle 2 -->
<group  ns="turtle_2" if="$(arg moveRobots)">

		<node name="moveRobot" pkg="tortuninja" type="moveRobot">
			<param name="move_type" value="1" type="int" />
			<remap from="cmd_vel" to="turtlebot_node/cmd_vel" />
		</node>

 </group>
	
</launch>
